<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KND team</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="shortcut icon" href="../Assets/Img/LOGO-IG.png">
</head>
<body>
    <header class="bg-black justify-content-between">
		<img src="../Assets/Img/KND.png" alt="Logo KND" class="logo img-fluid d-flex navbar-brand">
		<nav class="navbar d-flex my-auto">
			<ul class="nav__ul nav">
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="../index.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Home</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="quienesSomos.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Quienes Somos</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="tienda.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Tienda</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="#" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Comunidad</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="contacto.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Contacto</a></li>
			</ul>
		</nav>
		<nav class="nav__responsive">
			<ul class="nav__responsive__ul">
				<li class="nav__responsive__ul__li"><a href="../index.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Home</a></li>
				<li class="nav__responsive__ul__li"><a href="quienesSomos.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Quienes Somos</a></li>
				<li class="nav__responsive__ul__li"><a href="tienda.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Tienda</a></li>
				<li class="nav__responsive__ul__li text-decoration-none text-white">Comunidad</li>
				<li class="nav__responsive__ul__li"><a href="contacto.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h1 class="titleComunidad row">Comunidad</h1>
		<section>
			<article class="col">
				<h3 class="titleBlog row">Blog de la comunidad</h3>
				<div class="notasComunidad">
					<div class="card text-center">
						<div class="card-header">
						  Escrito por alpha
						</div>
						<div class="card-body">
						  <h5 class="card-title">Se inaugura la pagina de la KND.</h5>
						  <p class="card-text">Esta nota trata de lo siguiente...</p>
						  <a href="#" class="btn btn-secondary">Ver nota</a>
						</div>
						<div class="card-footer text-muted">
						  Hace 4 dias
						</div>
					</div>
				</div>
				<div class="notasComunidad">
					<div class="card text-center">
						<div class="card-header">
						  Escrito por beta
						</div>
						<div class="card-body">
						  <h5 class="card-title">Se abre la tienda de la KND para comprar tu remera.</h5>
						  <p class="card-text">Esta nota trata de lo siguiente...</p>
						  <a href="#" class="btn btn-secondary">Ver nota</a>
						</div>
						<div class="card-footer text-muted">
						  Hace 2 dias
						</div>
					</div>
				</div>
			</article>
			<article class="col">
				<h3 class="titleClips row">Clips de la comunidad</h3>
				<div class="divClips">
					<div class="divClipsBox">
						<p class="textClips">Clip 1</p>
						<iframe src="../assets/videos/mivideo.mp4"></iframe>
						<p>Clipeado por: @@@@</p>
					</div>
					<div class="divClipsBox">
						<p class="textClips">Clip 2</p>
						<iframe src="../assets/videos/mivideo.mp4"></iframe>
						<p>Clipeado por: @@@@</p>
					</div>
					<div class="divClipsBox">
						<p class="textClips">Clip 3</p>
						<iframe src="../assets/videos/mivideo.mp4"></iframe>
						<p>Clipeado por: @@@@</p>
					</div>
					<div class="divClipsBox">
						<p class="textClips">Clip 4</p>
						<iframe src="../assets/videos/mivideo.mp4"></iframe>
						<p>Clipeado por: @@@@</p>
					</div>
				</div>
			</article>
		</section>
	</div>
	<footer class="footer">
		<h6 class="footer__items p-2">Copyright</h6>
		<h6 class="footer__items p-2">Redes KND</h6>
	</footer>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</body>
</html>