<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KND team</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/img/LOGO-IG.png">
    <script src="https://kit.fontawesome.com/01c5142b6d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="bg-black justify-content-between">
		<img src="../assets/img/KND.png" alt="Logo KND" class="logo img-fluid d-flex navbar-brand">
		<nav class="navbar d-flex my-auto">
			<ul class="nav__ul nav">
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="../index.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Home</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="#" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Quienes Somos</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="tienda.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Tienda</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="comunidad.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Comunidad</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="contacto.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Contacto</a></li>
			</ul>
		</nav>
        <nav class="nav__responsive">
			<ul class="nav__responsive__ul">
				<li class="nav__responsive__ul__li"><a href="../index.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Home</a></li>
				<li class="nav__responsive__ul__li text-decoration-none text-white">Quienes Somos</li>
				<li class="nav__responsive__ul__li"><a href="tienda.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Tienda</a></li>
				<li class="nav__responsive__ul__li"><a href="comunidad.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Comunidad</a></li>
				<li class="nav__responsive__ul__li"><a href="contacto.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Contacto</a></li>
			</ul>
		</nav>
	</header>
    <div class="container">
        <h1 class="titleQuienesSomos row">Quienes somos</h1>
        <div class="divQuienesSomos gridQuienesSomos1 row">
            <div class="divQuienesSomosNombre col">
                <p class="divQuienesSomosTitle">Nombre</p>
                <p>Agustin Pereyra (WOOWSITO)</p>
            </div>
            <div class="divQuienesSomosSobreMi col">
                <p class="divQuienesSomosTitle">Sobre mi</p>
                <p>Me dicen Pere, tengo 23 años, soy de Buenos Aires, Argentina. Hago IRL y me gustan mucho los Shooters, y mis hobbies son los deportes.</p>
            </div>
            <div class="divQuienesSomosRedes col">
                <p class="divQuienesSomosTitle">Redes</p>
                <ul class="ulRedes">
                    <li class="ulLiRedes"><a href="https://www.twitch.tv/woowsito" target="_blank" class="ulLiARedes"><i class="fab fa-twitch"></i>Twitch</a></li>
                    <li class="ulLiRedes"><a href="https://www.instagram.com/aguspeere/" target="_blank" class="ulLiARedes"><i class="fab fa-instagram"></i>Instagram</a></li>
                    <li class="ulLiRedes"><a href="https://twitter.com/aguspeere" target="_blank" class="ulLiARedes"><i class="fab fa-twitter"></i>Twitter</a></li>
                    <li class="ulLiRedes"><a href="https://www.youtube.com/channel/UCcnHhFHbxzyWMeWr8Toof2A" target="_blank" class="ulLiARedes"><i class="fab fa-youtube"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
        <div class="divQuienesSomos gridQuienesSomos2 row">
            <div class="divQuienesSomosNombre col">
                <p class="divQuienesSomosTitle">Nombre</p>
                <p>Jorge Mercado (GEORGE)</p>
            </div>
            <div class="divQuienesSomosSobreMi col">
                <p class="divQuienesSomosTitle">Sobre mi</p>
                <p>Tengo 22 años, soy de Buenos Aires, Argentina. Siempre jugué a la Playstation pero hace unos años estoy descubriendo el mundo de la PC, vas a ver desde juegos modo historia a fifa, fortnite, dbd, GTA online y otros.</p>
            </div>
            <div class="divQuienesSomosRedes col">
                <p class="divQuienesSomosTitle">Redes</p>
                <ul class="ulRedes">
                    <li class="ulLiRedes"><a href="https://www.twitch.tv/georgedelaselva9" target="_blank" class="ulLiARedes"><i class="fab fa-twitch"></i>Twitch</a></li>
                    <li class="ulLiRedes"><a href="https://www.instagram.com/jorgemercado99/" target="_blank" class="ulLiARedes"><i class="fab fa-instagram"></i>Instagram</a></li>
                    <li class="ulLiRedes"><a href="https://twitter.com/jorgemercado_" target="_blank" class="ulLiARedes"><i class="fab fa-twitter"></i>Twitter</a></li>
                    <li class="ulLiRedes"><a href="https://www.youtube.com/channel/UCgR8906U1rZ0qQ59TO0dhcg?view_as=subscriber" target="_blank" class="ulLiARedes"><i class="fab fa-youtube"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
        <div class="divQuienesSomos gridQuienesSomos3 row">
            <div class="divQuienesSomosNombre col">
                <p class="divQuienesSomosTitle">Nombre</p>
                <p>Facundo Stanislav (MAMBO)</p>
            </div>
            <div class="divQuienesSomosSobreMi col">
                <p class="divQuienesSomosTitle">Sobre mi</p>
                <p>Juego al lol y a otros juegos, me caigo a los pedazos pero con hacerte reír me conformo.</p>
            </div>
            <div class="divQuienesSomosRedes col">
                <p class="divQuienesSomosTitle">Redes</p>
                <ul class="ulRedes">
                    <li class="ulLiRedes"><a href="https://www.twitch.tv/mambo_060" target="_blank" class="ulLiARedes"><i class="fab fa-twitch"></i>Twitch</a></li>
                    <li class="ulLiRedes"><a href="https://www.instagram.com/facustanislav/" target="_blank" class="ulLiARedes"><i class="fab fa-instagram"></i>Instagram</a></li>
                    <li class="ulLiRedes"><a href="https://twitter.com/facustanislav" target="_blank" class="ulLiARedes"><i class="fab fa-twitter"></i>Twitter</a></li>
                    <li class="ulLiRedes"><a href="" target="_blank" class="ulLiARedes"><i class="fab fa-youtube"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
        <div class="divQuienesSomos gridQuienesSomos4 row">
            <div class="divQuienesSomosNombre col">
                <p class="divQuienesSomosTitle">Nombre</p>
                <p>Elian Filippo (ELI)</p>
            </div>
            <div class="divQuienesSomosSobreMi col">
                <p class="divQuienesSomosTitle">Sobre mi</p>
                <p>Tengo 19 años, soy de Buenos Aires, Argentina. Amo la música y pasar tiempo con amigos tomando mate. Mis pasatiempos son jugar al basquet y estar con amigos.
                Series favoritas: Vikings / Peaky Blinders / Prison Break. Hago irl o juegos, depende que pinte en el momento.</p>
            </div>
            <div class="divQuienesSomosRedes col">
                <p class="divQuienesSomosTitle">Redes</p>
                <ul class="ulRedes">
                    <li class="ulLiRedes"><a href="https://www.twitch.tv/eleli5" target="_blank" class="ulLiARedes"><i class="fab fa-twitch"></i>Twitch</a></li>
                    <li class="ulLiRedes"><a href="https://www.instagram.com/elianfilippo" target="_blank" class="ulLiARedes"><i class="fab fa-instagram"></i>Instagram</a></li>
                    <li class="ulLiRedes"><a href="https://twitter.com/elian_filippo" target="_blank" class="ulLiARedes"><i class="fab fa-twitter"></i>Twitter</a></li>
                    <li class="ulLiRedes"><a href="" target="_blank" class="ulLiARedes"><i class="fab fa-youtube"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
		<h6 class="footer__items p-2">Copyright</h6>
		<h6 class="footer__items p-2">Redes KND</h6>
	</footer>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</body>
</html>