<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KND team</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="shortcut icon" href="../Assets/Img/LOGO-IG.png">
</head>
<body>
    <header class="bg-black justify-content-between">
		<img src="../Assets/Img/KND.png" alt="Logo KND" class="logo img-fluid d-flex navbar-brand">
		<nav class="navbar d-flex my-auto">
			<ul class="nav__ul nav">
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="../index.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Home</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="quienesSomos.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Quienes Somos</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="#" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Tienda</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="comunidad.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Comunidad</a></li>
				<li class="nav__ul__li d-flex align-items-center nav-item"><a href="contacto.html" class="nav__ul__li__a text-decoration-none text-white nav-link p-4">Contacto</a></li>
			</ul>
		</nav>
		<nav class="nav__responsive">
			<ul class="nav__responsive__ul">
				<li class="nav__responsive__ul__li"><a href="../index.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Home</a></li>
				<li class="nav__responsive__ul__li"><a href="quienesSomos.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Quienes Somos</a></li>
				<li class="nav__responsive__ul__li text-decoration-none text-white">Tienda</li>
				<li class="nav__responsive__ul__li"><a href="comunidad.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Comunidad</a></li>
				<li class="nav__responsive__ul__li"><a href="contacto.html" class="nav__responsive__ul__li__a text-decoration-none text-white">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h1 class="titleTienda row">Tienda</h1>
		<section class="sectionTienda gridTienda1 col">
			<h2 id="camisetas-title" class="camisetasTienda row">CAMISETAS</h2>
			<div class="divTienda col">
				<div class="articuloTienda">
					<p>ARTICULO 1</p>
					<img src="../Assets/Img/FotoCamisetaBlanca.jpg" alt="Foto Articulo 1" class="imagenArticuloTienda">
				</div>
				<div class="articuloTienda">
					<p>ARTICULO 2</p>
					<img src="../Assets/Img/FotoCamisetaBlanca.jpg" alt="Foto Articulo 2" class="imagenArticuloTienda">
				</div>
				<div class="articuloTienda">
					<p>ARTICULO 3</p>
					<img src="../Assets/Img/FotoCamisetaBlanca.jpg" alt="Foto Articulo 3" class="imagenArticuloTienda">
				</div>
			</div>
		</section>
		<section class="sectionTienda gridTienda2 col">
			<h2 id="buzos-title" class="buzosTienda row">BUZOS</h2>
			<div class="divTienda col">
				<div class="articuloTienda">
					<p>ARTICULO I</p>
					<img src="../Assets/Img/FotoBuzoGris.jpg" alt="Foto Articulo 1" class="imagenArticuloTienda">
				</div>
				<div class="articuloTienda">
					<p>ARTICULO II</p>
					<img src="../Assets/Img/FotoBuzoGris.jpg" alt="Foto Articulo 2" class="imagenArticuloTienda">
				</div>
				<div class="articuloTienda">
					<p>ARTICULO III</p>
					<img src="../Assets/Img/FotoBuzoGris.jpg" alt="Foto Articulo 3" class="imagenArticuloTienda">
				</div>
			</div>
		</section>
		<section class="sectionTienda gridTienda3 col">
			<h2 id="gorras-title" class="gorrasTienda row">GORRAS</h2>
			<div class="divTienda col">
				<div class="articuloTienda">
					<p>ARTICULO α</p>
					<img src="../Assets/Img/FotoGorraNegra.jpg" alt="Foto Articulo 1" class="imagenArticuloTienda">
				</div>
				<div class="articuloTienda">
					<p>ARTICULO β</p>
					<img src="../Assets/Img/FotoGorraNegra.jpg" alt="Foto Articulo 2" class="imagenArticuloTienda">
				</div>
				<div class="articuloTienda">
					<p>ARTICULO γ</p>
					<img src="../Assets/Img/FotoGorraNegra.jpg" alt="Foto Articulo 3" class="imagenArticuloTienda">
				</div>
			</div>
		</section>
	</div>
	<footer class="footer">
		<h6 class="footer__items p-2">Copyright</h6>
		<h6 class="footer__items p-2">Redes KND</h6>
	</footer>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</body>
</html>